/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0a0a0a, #1c1c1c);
  color: #f5f5f5;
  line-height: 1.6;
}

/* ====== HEADER MENUS ====== */
header {
  background: #000;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ff5e00;
}

header h1 {
font-size: 22px;
}



/* Default header */
.main-header {
  background: #000;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}



/* Base Nav Menu */
.nav-menu {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 5px 8px;
  justify-content: center;
  align-items: center;
}

.nav-menu li.menu-item {
  flex-shrink: 1;
}

.nav-menu li.more-btn {
  flex-shrink: 0;
}

/* Links */
.nav-menu li a {
  color: #ddd;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 3px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.nav-menu li a:hover {
  background: #ff4747;
  color: #fff;
}



/* More Button */
.more-btn a {
  font-weight: 700;
  color: #fff;
  background: #ff6600;
  padding: 6px 14px;
  border-radius: 6px;
  position: relative;
  animation: pulseGlow 2s infinite;
  transition: all 0.3s ease;
}

.more-btn a:hover {
  background: #ff8533;
  color: #111;
}

/* Pulse Glow Animation */
@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 0px rgba(255, 102, 0, 0.7);
  }
  50% {
    box-shadow: 0 0 10px rgba(255, 102, 0, 0.9), 0 0 10px rgba(255, 102, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 0px rgba(255, 102, 0, 0.7);
  }
}


iframe {
      width: 100%;
      min-height: 2000px; /* make this tall enough */
      border: none;
      display: block;
      overflow: hidden;
    }






